@font-face{
    font-family: modern ;
    src: url('../assets/fonts/modern.ttf') ;
}
#wrapper{
    width: 100vw;
    height: 100vh;
    position: relative ;
    display: none ;
    overflow: hidden;
}
#content{
    width: 65%;
    height: 100%;
    background-color: rgb(220,220,220);
    position: relative ;
}
#content > *{position: absolute ;}
.txt{
    font-family: modern ;
    color: rgb(30,30,30) ;
}
#header{
    left: 1.5em;
    top: 1em;
    font-size: 2em ;
}
#title{
    font-size: 4em ;
    left: 20%;
    top: 30% ;
    font-weight: 900 ;
}
#text{
    width: 24em;
    left: 20%;
    top: 42% ;
    font-size: 1em ;
    font-weight: lighter ;
}
.pic{
    width: 35em ;
    height: 25em;
    top: 25% ;
    left: 80%;
    box-shadow: 0 0 20px 1px rgb(90,90,90) ;
    cursor: pointer;
}
.behind,.top{
    position: absolute ;
    width: 100%;
    height: 100%;
}
.behind{
    background-color: rgb(30,30,30) ;
}
.top{
    background: url('../assets/imgs/img.jpg') center center no-repeat ;
    background-size: cover ;
}
#content button{
    width: 12em;
    height: 4em ;
    position: absolute ;
    left: 20%;
    top: 60% ;
    background-color: rgb(230, 94, 45) ;
    color: white ;
    font-size: 1em ;
    font-family: modern ;
    font-weight: lighter ;
    text-align: center ;
    border: none ;
    cursor: pointer;
}
.icons{
    position: absolute ;
    width: 8em ;
    height: auto;
    display: flex ;
    flex-direction: column ;
    justify-content: space-between ;
    align-items: center ;
    flex-wrap: nowrap ;
    right: 0;
}
.icons:nth-child(2){ top: 3em;}
.icons:nth-child(3){ bottom: 3em;}
.icons:nth-child(3) > *{
    margin-top: 1.5em ;
}
.fab,.fas{
    color: rgb(50,50,50);
    font-size: 1.5em ;
    cursor: pointer;
    position: relative ;
}
#content{width: 0 ;}
#content .pic > *{width: 0 ;}
#content .pic {box-shadow: 0 0 0 0 transparent ;}
#content > *:not(.pic){opacity: 0;}
.icons > * {opacity: 0;}
