@media screen and (max-width:1700px){
    html,body{font-size: 18px;}
}
@media screen and (max-width:1500px){
    html,body{font-size: 15px;}
}
@media screen and (max-width:1300px){
    #text{font-size: 1.3em;}
}
@media screen and (max-width:1100px){
    html,body{font-size: 14px;}
}
@media screen and (max-width:800px){ 
    #header{
        left: 4%;
        top: 2%;
        font-size: 2em ;
    }
    #title{
        font-size: 5em ;
        left: 10%;
        top: 30% ;
    }
    #text{
        width: 20em;
        left: 10%;
        top: 40% ;
        font-size: 1.3em ;
    }
    #content button{
        width: 9em;
        height: 3.5em ;
        left: 10%;
        font-size: 1.8em ;
    }
    .pic{
        width: 24em ;
        height: 20em;
        top: 30% ;
        left: 85%;
    }
    .fab,.fas{font-size: 2.2em;}
}
@media screen and (max-width:600px){
    /* html,body{font-size: 9px;} */
    #header{
        left: 4%;
        top: 2%;
        font-size: 2em ;
    }
    #title{
        font-size: 5em ;
        left: 50vw;
        transform: translateX(-50%) ;
        top: 52% ;
    }
    #text{
        width: 90vw;
        left: 10%;
        top: 63% ;
        font-size: 1.2em ;
    }
    #content button{
        width: 9em;
        height: 3.5em ;
        top: 80% ;
        left: 50vw;
        transform: translateX(-50%) ;
        font-size: 1.8em ;
    }
    .pic{
        width: 25em ;
        height: 18em;
        top: 20% ;
        left: 50vw;
        transform: translateX(-50%) ;
    }
    .fab,.fas{font-size: 2.2em;}
    .icons:nth-child(3){
        position: absolute ;
        width: 100% ;
        height: auto;
        display: flex ;
        flex-direction: row ;
        justify-content: space-around ;
        align-items: center ;
        flex-wrap: nowrap ;
        bottom: 2%;
    }
}
@media screen and (max-width:400px){
    .pic{
        top: 15% ;
    }
    html,body{font-size: 12px;}
}